html
  head
    title React & Backbone Workshop
  body
    h1 React & Backbone Workshop
    
    p All of your API requests should be done over your github username
    
    table
      tr
        td GET /:githubUsername (e.g. /edshadi):
        td Create new read it later
        
      tr
        td POST /:githubUsername (e.g. /edshadi): 
        td All read it later
      
